main{
    background-color:grey;
}
.one{
    text-align: center;
}
.un{
    padding: 10px;
    margin: 15px;
}
.deux{
    padding: 10px;
    margin: 15px;
}
.trois{
    padding: 10px;
    margin: 15px;
}
.four{
  
    height: 30px;
    width: 15%; 
}
#name{
text-align: justify;
    font-size: 10px;
    flex-direction: column;
    color: black;
    font-style: normal;
    line-height: 23px;
    text-rendering: optimizeLegibility;
    margin-bottom: 17px;
    display: block;
    font-family: 'Arial Narrow',Arial, Helvetica, sans-serif;
    line-height: 1.4em;
    text-transform: none;
    letter-spacing: 0em;
    font-weight: 400;
    font-style: normal
}
ul,li{
    font-style: italic;
    font-family: "Arial";
    letter-spacing: 0em;
    line-height: 1.4em;
    text-transform: none;
    letter-spacing: 0em;
    font-weight: 400;
    font-style: normal;
        
}
footer{
    text-align: center;
    text-emphasis: none;
    font-style: italic;

}
p{
    font-style: italic;
    font-family: "Arial";
    letter-spacing: 0em;
    line-height: 1.4em;
    text-transform: none;
    letter-spacing: 0em;
    font-weight: 400;
    font-style: normal;
}